
h1{
    padding-top: 200px;
    text-align: center;
    font-size: 46px;
    font-family: Heebo ExtraBold ;
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: Heebo ExtraBold ;
    line-height: 2px;

}