
body{
   background-color: #efefef;
   
}
#name{
    padding-top: 50px; 
}
#name p{
font-size: 35px;
text-align: center;
margin-top: 50px;
color: #6b6868;
font-family: Heebo regular;
line-height: 45px;

}
#riboa{
    display: flex;
    gap: 5%;
    justify-content: center;
    text-align: center;   
}
#riboa a{
   color: #6b6868; 
   font-size: 20px; 
   font-family: Heebo regular;
   text-align: center;
  
   
}
.riboa2{
    background-color:white;
    width: 200px;
    height: 170px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.riboa2 a{
    text-align: center;
   padding-top: -40px;
}
#key{
    transform: scale(0.8);
    display: flex;
    justify-content: center;
}